.todo {
  cursor: pointer;
}
.strike {
  text-decoration: line-through;
}

.header {
  font-size: 200%;
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: burlywood;
}

.todo-list {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-todo {
  display: flex;
  justify-content: center;
  padding: 15px;
  background-color: burlywood;
}

button {
  margin: 5px;
  border-radius: 8px;
  background-color: red;
}

html {
  background-color: darkseagreen;
}

.submit {
  margin: 5px;
  border-radius: 8px;
  background-color: #008CBA;
}

.userInput {
  box-sizing: border-box;
  border: 2px solid;
}